{% extends "report-layout.jinja2" %}
{% block body %}
<h2>Status Report Summary: {{ meeting.purpose }} - {{ meeting.date }}</h2>
{# see https://jinja.palletsprojects.com/en/2.11.x/templates/#assignments Scoping Behavior #}
{# positions should already be sorted and filtered to those which have status reports #}
{% for report in reports %}
    <h3>{{ report.title }}</h3>
    {{ report.statusreport }}
    {% if report.discussions %}
        <p><b>For discussion:</b></p>
        <ul class="statusreport">
            {% for discussion in report.discussions %}
                <li><p>{{ discussion.discussiontitle }}</p><br>
                    {%- if discussion.agendaitem.agendaitem -%}{{ discussion.agendaitem.agendaitem }}{%- endif -%}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
{% endblock %}