<p>Just a friendly reminder that you have been invited to the {{ meeting.purpose }} on {{ meeting.date }} {{ meeting.time }}.</p>

<p>Location / URL</p>

<p style="white-space:pre-wrap; margin-left: 1em;">{{ meeting.location }}</p>

{{ message }}

<p><b>Please RSVP {% if 'statusreport' in options %}and update your status report{% endif %}</b> by clicking <a href={{ rsvpurl }}>here</a>.</p>

{% if 'statusreport' in options %}
    {% if positions %}
    <p>This reminder is being sent specifically for the following Position reports, but please note you may have other
    reports outstanding.</p>

    <ul>
    {% for position in positions %}
    <li>{{ position.position }}</li>
    {% endfor %}
    </ul>
    {% endif %}
{% endif %}

{% if 'actionitems' in options %}
    {% if actionitems %}
    <p>Your outstanding action items are listed below. You can update the action item status by clicking <a href={{ actionitemurl }}>here</a>.</p>

    <table>
    <tr><th>Action Item</th><th>Status</th></tr>
    {% for actionitem in actionitems %}
    <tr>
    <td>{{ actionitem.action }}</td>
    <td>{{ actionitem.status }}</td>
    </tr>
    {% endfor %}
    </table>

    {% else %}
    <p>You have no outstanding action items.</p>
    {% endif %}
{% endif %}