<p>You are being asked to vote on a motion for {{ meeting.purpose }} by {{ meeting.date }}.</p>

{{ message }}

<p>Please do not reply to this email. You should record your vote on the motion below by
    clicking <a href={{ evoteurl }}>here</a>.</p>

<p><b>Motion:</b></p>

<div style="margin-left: 1em">
    {{ motion.motion }}
    {{ motion.comments }}
</div>