<!DOCTYPE html>
<head>
<style>
table, th, td {
    border-collapse: collapse;
    border: none;
    margin-left: 1em;
    width: 100%;
    table-layout: auto;
}
th, td {
    padding: 3px;
}
th {
    font-weight: bold;
}
</style>
</head>
<body>
{% block body %}
{% endblock %}
</body>