{% extends "layout.jinja2" %}
{% block pagename %}
    {{ pagename }}
{% endblock %}
{% block css %}
<style>
.stats-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
}
.stats-item {
    flex-basis: auto;
    align-self: flex-start;
}
</style>
{% endblock %}
{% block scripts %}
{% endblock %}
{% block body %}
    <div>
        <label class="Label" for="membership-numyears">Num Years: </label>
        <span id=membership-numyears></span>
        <span>(last update time {{cachetime}})</span>
    </div>
    <div class="stats-container">
        {# small screen min https://www.w3schools.com/css/css_rwd_mediaqueries.asp Typical Device Breakpoints #}
        <div class="membership-stats stats-item" style="min-width: 600px; max-width: 1200px; flex: 4;">
        </div>
        <div class="membership-stats-table stats-item" style="flex: 1;">
        </div>
    </div>
{% endblock %}