<p>You have {{ aninvitation_text }} for {{ meeting.purpose }} on {{ meeting.date }}
    {% if meeting.time %}{{ meeting.time }}{% endif %}</p>

{% if meeting.location %}
    <p>Location / URL</p>
    <p style="white-space:pre-wrap; margin-left: 1em;">{{ meeting.location }}</p>
{% endif %}

{% if rsvp_required or has_status_reports %}
    <p>Please {% if rsvp_required %}RSVP and {% endif %}{% if has_status_reports %}enter 
    your {{ statusreport_text }}{% endif %} by clicking <a href={{ rsvpurl }}>here</a>.</p>
    {% if rsvp_required %}<p><b>Note:</b> you need to click the RSVP button to indicate whether
    you plan to attend. <b>Please do not RSVP by responding to this email.</b></p>{% endif %}
{% endif %}

{{ message }}

{% if show_action_items %}
    {% if actionitems %}
    <p>Your outstanding action items are listed below. You can update the action item status by clicking <a href={{ actionitemurl }}>here</a>.</p>

    <table>
    <tr><th>Action Item</th><th>Status</th></tr>
    {% for actionitem in actionitems %}
    <tr>
    <td>{{ actionitem.action }}</td>
    <td>{{ actionitem.status }}</td>
    </tr>
    {% endfor %}
    </table>

    {% else %}
    <p>You have no outstanding action items.</p>
    {% endif %}
{% endif %}