<div id="customForm">
    <div data-editor-template="task"></div>
    <div data-editor-template="priority"></div>
    <div data-editor-template="description"></div>
    <div data-editor-template="taskgroups.id"></div>
    <div data-editor-template="isbyposition"></div>
    <div data-editor-template="position.id"></div>
    <div class="row">
        <div style="flex:5;" data-editor-template="expirysoon"></div>
        <div style="flex:1;" data-editor-template="expirysoon_units"></div>
    </div>
    <div data-editor-template="fields.id"></div>
    <div class="row">
        <div style="flex:5;" data-editor-template="period"></div>
        <div style="flex:1;" data-editor-template="period_units"></div>
    </div>
    <div data-editor-template="dateofyear"></div>
    <div class="row">
        <div style="flex:5;" data-editor-template="expirystarts"></div>
        <div style="flex:1;" data-editor-template="expirystarts_units"></div>
    </div>
    <div data-editor-template="isoptional"></div>
</div>