{% extends "child-row-base.njk" %}
{% block displayfields %}
    {% if is_hidden == 'yes' and hidden_reason %}
        <div class="DTE_Label">HIDDEN: Reason for Hiding</div>
        <div class="DTE_Field_Input"><p>{{ hidden_reason | safe }}</p></div>
    {% endif %}
    {% if agendaitem %}
        <div class="DTE_Label">Summary</div>
        <div class="DTE_Field_Input">{{ agendaitem | safe }}</div>
    {% endif %}
    {% if discussion %}
        <div class="DTE_Label">Discussion</div>
        <div class="DTE_Field_Input">{{ discussion | safe }}</div>
    {% endif %}
{% endblock %}
