{% extends "child-row-base.njk" %}
{% block displayfields %}
    <div class="DTE_Label"><b>{{ statusreport_text }}</b></div>
    <div class="DTE_Field_Input">{{ statusreport | safe }}</div>
{% endblock %}


