{% if _showedit %}
    {# see https://datatables.net/blog/2017-06-30 #}
    {# see https://editor.datatables.net/plug-ins/display-controller/editor.onPage #}
    <div id="childrow-editform-" class="childrow-editform"></div>

{# row just needs to be displayed #}
{% else %}
    <div class="childrow-display">
        {% if is_rsvp %}
            <div class="DTE_Field_Input">{{ rsvp_response | safe }}</div>
        {% else %}
            <div class="DTE_Label"><b>Status Report</b></div>
            <div class="DTE_Field_Input">{{ statusreport | safe }}</div>
        {% endif %}
    </div>
{% endif %}
