{# row is being edited #}
{% if _showedit %}
    {# see https://datatables.net/blog/2017-06-30 #}
    {# see https://editor.datatables.net/plug-ins/display-controller/editor.onPage #}
    <div id="childrow-editform-{{ tableid }}" class="childrow-editform"></div>
{% else %}
<div class="childrow-display">
    <div class="DTE_Label">Mover</div>
    <div class="DTE_Field_Input"><p>{{ mover.name | safe }}</p></div>
    <div class="DTE_Label">Seconder</div>
    <div class="DTE_Field_Input"><p>{{ seconder.name | safe }}</p></div>
</div>
{% endif %}

{# always display any tables #}
{# editor display is determined in the ChildRow javascript #}
<div class="childrow-display">
    {% for table in tables %}
        <div class="DTE_Label">{{ table.label }}</div>
        <table id="childrow-table-{{ table.tableid }}"></table>
    {% endfor %}
</div>
