<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    
    <!-- http://materializecss.com/getting-started.html, https://github.com/dogfalo/materialize/ -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    {% if assets_css %}
      {% assets assets_css %}
          <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">
      {% endassets %}
    <link type="text/css" rel="stylesheet" href="/static/frontend/racingteaminfo.css" media="screen,projection">
    {% endif %}
    <link rel="stylesheet" href="/static/frontend/racingteamapplication.css">
  </head>
  {% if assets_js %}
    {% assets assets_js %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  {% endif %}

  <body>
    
    <form class="main" id="form" novalidate="novalidate" style="max-width: 480px;margin: 40px auto;">
      <div id="data" class="input">
        <div class="row">
          <div class="col s12">
            <h5 class="center-align steeps-blue-text">Frederick Steeplechasers<br/>Racing Team Application</h5>
            <p>To apply for the racing team, or to renew your application, please use this form to submit your qualifying information. 
            See <a href="https://steeplechasers.org/competition/racing-team/">https://steeplechasers.org/competition/racing-team/</a> 
            for more information about qualifying standards.</p>            
          </div>
        </div>
      
        <div class="row">
          <div class="input-field col s12">
            <label for="name">Name *</label>
            <input id="name" type="text" name="name" class="validate" required aria-required="true">
          </div>
        </div>
       
        <div class="row">
          <div class="input-field col s12">
            <label for="email">Email *</label>
            <input id="email" type="email" name="email" class="validate" required aria-required="true">
          </div>
        </div>
             
        <div class="row">
          <div class="input-field col s12">
            <input id="dob" type="date" name="dob" class="common datepicker validate" required aria-required="true">
            <label for="dob">Birth Date *</label>
          </div>
        </div>
             
        <div class="row">
          <div class="input-field col s12">
            <select id="gender" name="gender" class="validate" required aria-required="true" onchange="setAgeGrade()">
              <option value="" required disabled selected>Select gender</option>
              <option value="F">female</option>
              <option value="M">male</option>
              <option value="X">nonbinary</option>
            </select>
            <label>Gender *</label>
          </div>
        </div>
        
        <div class="row">
          <div class="input-field col s12">
            <select id="applntype" name="applntype" class="validate" required  onchange='showRaces()'>
              <option value="" required disabled selected>Choose type of application</option>
              <option value="new">New Racing Team Member</option>
              <option value="renewal">Returning Racing Team Member</option>
            </select>
            <label>Application Type *</label>
          </div>
        </div>
        
        <div class="row">
          <div class="col s12">
            <p>New and returning racing team members need to have a qualifying time in two races 5K or longer in the past calendar year.</p>
          </div>
        </div>
                
        {% for racenum in ['1', '2'] %}
          {% set tag = "race" + racenum %}
            <div id="{{ tag }}_registration" class="input all-registrations" style="display:none">
                
              <div class="row">
                <div class="input-field col s12">
                  <input value="" id="{{ tag }}_name" type="text" name="{{ tag }}_name" required aria-required="true">
                  <label for="{{ tag }}_name">Race {{ racenum }} - Name *</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input value="" id="{{ tag }}_location" type="text" name="{{ tag }}_location" required aria-required="true">
                  <label for="{{ tag }}_location">Race {{ racenum }} - Location *</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input id="{{ tag }}_date" type="date" class="datepicker validate" name="{{ tag }}_date" required aria-required="true">
                  <!-- <input id="{{ tag }}_date" type="date" class="datepicker" name="{{ tag }}_date" onchange="setAgeGrade('{{ tag }}')" > -->
                  <label for="{{ tag }}_date">Race {{ racenum }} - Date *</label>
                </div>
              </div>
              
              <div class="row">
                <div class="input-field col s4">
                  <input id="{{ tag }}_distance" type="number" step="any" required class="validate" name="{{ tag }}_distance" onchange="setAgeGrade('{{ tag }}')" required aria-required="true">
                  <label for="{{ tag }}_distance">Race {{ racenum }} - Distance *</label>
                </div>
                <div class="input-field col s4">
                  <select id="{{ tag }}_units" name="{{ tag }}_units" class="validate" required  onchange="setAgeGrade('{{ tag }}')">
                    <option value="" required disabled selected>miles / km *</option>
                    <option value="miles">miles</option>
                    <option value="km">km</option>
                  </select>
                </div>
                <div class="input-field col s4">
                <select id="{{ tag }}_surface" name="{{ tag }}_surface" class="raceresult validate" required  onchange="setAgeGrade()">
                    <option value="" required disabled selected>road / track *</option>
                    <option value="road">road</option>
                    <option value="track">track</option>
                </select>
                </div>
              </div>
              
              <div class="row">
                <div class="input-field col s12">
                  <input id="{{ tag }}_time" type="text" required class="validate" name="{{ tag }}_time" 
                        onchange="checkTimeAndSetAgeGrade('{{ tag }}', '#{{ tag }}_time')" required aria-required="true"
                        pattern="((([0-1]?[0-9]|2[0-4]):)?([0-5]?[0-9]):)?([0-5][0-9])(.[0-9]*)?">
                  <label for="{{ tag }}_time">Race {{ racenum }} - Official Time (hh:mm:ss) *</label>
                </div>
              </div>
              
              <div class="row">
                <div class="input-field col s12">
                  <input id="{{ tag }}_resultslink" type="url" name="{{ tag }}_resultslink">
                  <label for="{{ tag }}_resultslink">Race {{ racenum }} - Results Website</label>
                  <small>optional, but please help the racing team coordinator by finding and supplying this</small>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input readonly value="(based on birth date, gender, race date, distance, surface, time)" id="{{ tag }}_agegrade" type="text" name="{{ tag }}_agegrade" >
                  <label for="{{ tag }}_agegrade">Race {{ racenum }} - Age Grade</label>
                </div>
              </div>

              {# send age to server #}
              <div class="row" style="display: none;">
                <div class="input-field col s12">
                  <input readonly id="{{ tag }}_age" type="text" name="{{ tag }}_age">
                  <label for="{{ tag }}_age">Race {{ racenum }} - Age</label>
                </div>
              </div>

          </div> <!-- {{ tag }}_registration -->
        {% endfor %}
      
        <div class='comment-fields'>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="comments" name="comments" class="materialize-textarea"></textarea>
              <label for="comments">Comments</label>
            </div>
          </div>
          
        </div> <!-- comment-fields -->

        <div class="row">
          <div class="input-field col s12 left-align">
            <button class="waves-effect waves-light btn submit-btn steeps-blue-background" type="submit">NEXT</button>
          </div>   
        </div>

      </div> <!-- data -->
      
      <div class="applications-closed" style="display:none;">
        <div class="row">
          <div class="col s12">
            <h5 class="center-align steeps-blue-text">Frederick Steeplechasers<br/>Racing Team Application</h5>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <p>Thank you so much for your interest in the Frederick Steeplechasers Racing Team! Unfortunately, 
            the application period is now closed. Racing team applications are generally taken from Dec 1 through 
            Dec 31 for team membership Jan 1 through Dec 31, and from Jun 1 through Jun 30 for team membership 
            Jul 1 through Jun 30. </p>
            <p>If you have any questions, please contact <a href="mailto:racingteam@steeplechasers.org">racingteam@steeplechasers.org</a>.</p>
          </div>
        </div>
      </div> <!-- applications-closed -->

      <div id="confirmation" class="input" style='display:none'>
          <div class="row">
            <h5 class="center-align steeps-blue-text">Frederick Steeplechasers<br/>Racing Team Application</h5>
          </div>
          <div class="row">
            <p>If all the information below is correct, 
            click SUBMIT to submit your application,
            otherwise, click BACK to make corrections</p>            
          </div>
          
        <div id="confirmation-fields">
        </div>

        <div class="row">
          <div class="input-field col s12 left-align">
            <button class="waves-effect waves-light btn submit-btn steeps-blue-background" type="button" onclick="backPage();">BACK</button>
            <!-- text of next button is changed to WAIT... when clicked and reset to SUBMIT when back button clicked -->
            <button class="waves-effect waves-light btn submit-btn steeps-blue-background nopaypal" type="submit">SUBMIT</button>
            <span id="paypal-button" class="paypal"></span>
          </div>   
        </div>

      </div>
      
      <div id="payment-wait" class="input" style="display:none">
        <h5 class="center-align steeps-blue-text">Frederick Steeplechasers<br/>Racing Team Application</h5>
        <p>Thank you. We are submitting your racing team application. Please wait for confirmation that the application has been submitted successfully.
        If you do not see the success page in 30 seconds, please send email to <a href="mailto:racingteam@steeplechasers.org">racingteam@steeplechasers.org</a></p>
        
        <div id="error-notification" style="display:none; color:red">
          <p>Oops, an error occurred. </p>
          <p>We don't want to lose track of your desire to join the racing team -- please send email to 
          <a href="mailto:racingteam@steeplechasers.org">racingteam@steeplechasers.org</a>, and we will get the problem sorted out.</p>
        </div>
      </div> <!-- success -->

      <div id="footer" class="input">
        <div class="row">
         <p class="small-text">
         If you have any problems submitting this form, or questions on how to use this form, 
         send email to 
         <a href="mailto:racingteam@steeplechasers.org?subject=[Racing Team Application Form - Help] problem or question on application form">racingteam@steeplechasers.org</a>
         </p>
        </div>
      </div> <!-- footer -->
      
      
      <div id="success" style="display:none">
        <h5 class="center-align steeps-blue-text">Frederick Steeplechasers<br/>Racing Team Application</h5>
        <p>Thank you. Your racing team application has been successfully submitted. You will be receiving an email with more information.</p>
        <p>If you have any questions, please send email to <a href="mailto:racingteam@steeplechasers.org">racingteam@steeplechasers.org</a>.</p>
      </div> <!-- success -->
    </form>
       
    <script>    
      // pass config to javascript
      var config = {{ config }};

    </script>
  <script src="/static/frontend/racingteamapplication.js"></script>

  </body>
</html>


